.nav-bar {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.nav-item {
    color: #007bff;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
        color: #0056b3;
    }
}

.nav-item--active {
    font-weight: bold;
}