@import '../../theme/color.scss';

.nav-bar {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
}

.nav-item {
    color: $primary-color-light;
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
        color: $primary-color-dark;
    }
}

.nav-item--active {
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-logout.ui.button {
    margin-left: auto;
}
